<div class="{{cssClass}} flexcol, sheet-container character-sheet">
	<form autocomplete="off">
		<div class="field">
			Name
			<input name="name" type="text" value="{{actor.name}}">
		</div>
		<div class="field">
			Frame
			<input name="system.frame" type="text" value="{{actor.system.frame}}">
		</div>
	</form>
</div>